<mat-card style="text-align: center;"> 
  <mat-card-title style="margin:30px;">Personal Data</mat-card-title>
  <mat-card-content>
    <form [formGroup]="connectedUserForm" (ngSubmit) = "updateUser()">
      <p>
        <mat-form-field style="margin:5px;">
          <input type="text" matInput placeholder="Firstname" value="firstname" formControlName="firstname">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin:5px;">
          <input type="text" matInput placeholder="Lastname" formControlName="lastname">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin:5px;">
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin:5px;">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin:5px;">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select formControlName="roleId" placeholder="Role">
            <mat-option (onSelectionChange)="change($event)" *ngFor="let role of rolesList" [value] = "role.id">
              {{ role.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <div class="button">
        <button  mat-raised-button color="primary" type="submit" [disabled]="!connectedUserForm.valid && !connectedUserForm.dirty" >Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
