@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */
html, body {  
    height: 100%; 
    width: 100%;
    height: 100%; 
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-461-g.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=ec1331e42bc1313a651c0df3f0fa7321') repeat center; 
    background-size: cover;
    background-attachment: fixed, scroll;
    background-repeat: repeat-y; 
 } 

 body {  
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100%;
    height: 100%; 
 } 

 .btn-primary{
    color: white;
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    display: inline-block;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, 
.button-x-style:hover, .button-x-style:focus, .button-x-style:active{
    color: white;
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
} 

 .margin-1 {
    margin-top: 1%; 
}

.margin-8 {
    margin-top: 8%;
}

.margin-10 {
    margin-top: 10% !important;
}

.center-button {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: 2%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.label-style-list{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
    padding: 10px;
    color: #003300;
    background-color: white;
    display: inline-block;
    background: white;
    background: linear-gradient(90deg, white 0%, #11b47e50 65%, rgba(134, 192, 165, 0.705) 100%);
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: left !important;
}

.label-style{
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,.7);
    padding: 10px;
    color: #003300;
    background-color: white;
    display: inline-block;
    background: white;
    background: linear-gradient(90deg, white 0%, #11b47e50 65%, rgba(134, 192, 165, 0.705) 100%);
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: left !important;
    width: 260px;
}

.button-x-style{
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,.7);
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    display: inline-block;
    font-weight: bold !important;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: left !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

